# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Environment variables
.env

# Logs
logs/
*.log

# Model files
models/saved_models/

# IDE specific files
.vscode/
.idea/